:root {
    --primary: #f8f8fa;
    --secondary: #cdcdce;
    --white: #ffffff;
    --black: #000000;
    --yellow: #f3a300;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Archivo", sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/*
======================
Header
======================
*/

.header {
    height: 5.6rem;
    background-color: var(--primary);
    position: relative;
    border-bottom: 0.1rem solid var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header .nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* LOGO */
.nav__logo {
    margin-top: 1.2rem;
}

/* MENU */
.nav__menu {
    width: 35rem;
    line-height: 5rem;
    display: flex;
    justify-content: space-between;
}

.nav__item {}

.nav__menu a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(112, 110, 110);
    padding-top: 3rem;
}

.nav__menu a:hover {
    color: var(--black);
}

.marker::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 0;
    background: #000;
    transition: width 0.5s;
    border-radius: 0.4rem;
    margin-top: -1.5rem;
}

.marker:hover::after {
    width: 100%;
    transition: width 0.5s;
}

/* SEARCH */
.nav__search {
    width: 25rem;
    border: #f8f8fa;
    position: relative;
}

.nav__search input {
    width: 100%;
    margin-top: 1.2rem;
    height: 2rem;
    padding: 1.2rem 2.4rem;
    border-radius: 9999rem;
    border: 0.1rem solid var(--secondary);
    background-color: var(--primary);
    color: gray;
    outline: none;
}

.nav__search i {
    position: absolute;
    right: 2rem;
    top: 1.9rem;
    font-size: 1.2rem;
    color: var(--secondary);
}

/* Icon */
.nav__icon {
    cursor: pointer;
}

.nav__icon i {
    position: relative;
    font-size: 1.5rem;
    line-height: 5rem;
    color: gray;
}

.nav__icon i:hover {
    color: var(--black);
}

#cart__total {
    position: absolute;
    top: 1.5rem;
    right: -0.4rem;
    height: 1rem;
    width: 1rem;
    border-radius: 9999rem;
    background-color: var(--black);
}

#cart__total span {
    position: absolute;
    left: 0.3rem;
    top: -2rem;
    color: var(--white);
    font-size: 0.8rem;
}

.search__mobile {
    display: none;
}

.bar {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    .header .nav {
        width: 90%;
        justify-content: space-between;
    }

    .nav__menu {
        display: none;
    }

    .nav__search {
        display: none;
    }

    .nav__icon {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .search__mobile {
        display: block;
    }

    .bar {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header .nav {
        width: 90%;
        justify-content: space-between;
    }

    .nav__menu {
        display: none;
    }

    .nav__search {
        display: none;
    }

    .nav__icon {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    .nav__icon  > i{
        font-size: 2rem;
    }
    .search__mobile {
        display: block;
    }
    .search__mobile

    .bar {
        display: block;
    }
}

/*  */
/*  END: HEADER */
/*  */



/*  */
/*  BEGIN: MAIN */
/*  */
.main{
    margin-top: 5.6rem;
    height: 100vh;
    background-color: var(--primary);
}
.main .hero{
    width: 75%;
    height: 50rem;

    margin: 0 auto;
}
.hero .glide__slide{
    position: relative;
    
}
.hero .banner{
   
}
.hero .slide-img{
    float: right;
    width: 100%;
    object-position: 30rem;
    height: 60rem;
    object-fit: contain;
   
}
.banner{
    height: 18rem;
    position: absolute;
    top: 20rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}
.banner h2{
    font-weight: bolder;
    font-size: 8.5rem;
    color: var(--secondary);
    position: relative;
}
.banner h4{
    top: 6rem;
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
}
.banner p{
    flex-grow: 2;
    text-transform:none;
    font-weight: bold;
    color: rgba(77, 77, 77, 0.603);
}
.banner button{
    
    width: 14rem;
    height: 4rem;
    border:none;
    color: var(--white);
    background-color: var(--black);
    outline:none;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.199);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.banner button:hover{
    border: 0.1rem solid var(--black);
    background-color:var(--primary)   ;
    color: var(--black);
}
.glide__arrow--left{
    position: absolute;
    top: 25rem;
    left: -5rem;
    font-size: 3rem;
    cursor: pointer;
}
.glide__arrow--right{
    position: absolute;
    top: 25rem;
    right: -5rem;
    font-size: 3rem;
    cursor: pointer;
}
/* silder mobile */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .banner{
        top: 15rem;
    }
    .hero .slide-img{
        float: right;
        width: 100%;
        object-position: 0rem 10rem;
        margin-top: 20rem;
        height: 60rem;
        object-fit: contain;
       
    }
    
}

/* silder mobile */